.registration-status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration-status-img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.registration-status-heading {
  color: #323f4b;
  font-size: 24px;
  margin: 10px;
}

.registration-status-description {
  color: #64748b;
  font-size: 20px;
  margin: 10px;
}

.register-button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: 0px none;
  background-color: #0967d2;
  color: #ffffff;
  text-align: center;
}
